
<form class="form">
    <h3>Please enter your username</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search users using the username" name="username" [(ngModel)]="username"><br><br>
        <button class="btn btn-success btn-lg" (click) = addUser()>Submit</button>
    </div>
</form>
<hr>
<a class="nav-item nav-link" routerLink="/repos" routerLinkActive='active'><button class="btn btn-lg btn-warning ">Search for  repositories</button></a>
<hr>
<div *ngIf= "profiles">
    <div class="card">
        <div class="card-title">
            {{profiles.login}},<small>({{profiles.name}})</small>,<br>
            <span *ngIf ="profiles.company">Works at {{profiles.company}}</span>
            <span *ngIf = "profiles.location"> lives in {{profiles.location}}</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img src={{profiles.avatar_url}} class="img-circle img-responsive">
                </div>
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf = "profiles.bio">
                            {{profiles.bio}}
                        </li>
                        <li class="list-group-item" *ngIf ="profiles.email">
                            {{profiles.email}}
                        </li>
                    </ul>
                    <div class="col-md-3">
                        <p>
                            <span >
                                Followers : {{profiles.followers}}
                            </span>
                            <span>
                                Following : {{profiles.following}}
                            </span>
                            <span >
                                 repos : {{profiles.public_repos}}
                            </span>
                        </p>
                        <p><a href="{{profiles.html_url}}" target="blank"><button class="btn btn-success btn-md">Github_profile</button></a></p>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    
</div>
