<div *ngIf= "profiles">
    <div class="card">
        <div class="card-title">
            {{profiles.name}},<small>({{profiles.login}})</small>,<br>
            <span *ngIf ="profiles.company">Works at {{profiles.company}}</span>
            <span *ngIf = "profiles.location"> lives in {{profiles.location}}</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <img src={{profiles.avatar_url}} class="img-circle img-responsive">
                </div>
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf = "profiles.bio">
                            {{profiles.bio}}
                        </li>
                        <li class="list-group-item" *ngIf ="profiles.email">
                            {{profiles.email}}
                        </li>
                    </ul>
                    <div class="col-md-3">
                        <p>
                            <span >
                                Followers : {{profiles.followers}}
                            </span>
                            <span>
                                Following : {{profiles.following}}
                            </span>
                            <span >
                                 repos : {{profiles.public_repos}}
                            </span>
                        </p>
                        <p><a href="{{profiles.html_url}}" target="blank"><button class="btn btn-success btn-md">Github_profile</button></a></p>
                        <a href="#repository"><button class="btn btn-success btn-lg">View all repos</button></a>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    <div class="card" id="repository">
        <div class="card-title">
           <h3>All Repos</h3>
        </div>
        <div class="card-body" *ngFor = "let repo of repos">
            <p>{{repo.name}}</p> <a href="{{repo.html_url}}" target="blank"><button class="btn btn-lg btn-warning pull-right" >View on Github</button>
            </a>
            <p>{{repo.description}}</p>
        </div>
    </div>
</div>